*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}

body{
    display:flex;
    min-height:100vh;

    background:#F4F8FF;
}

/* Sidebar */

.sidebar{

    width:260px;

    background:#0F172A;

    color:white;

    padding:30px 20px;
}

.logo{
    margin-bottom:40px;

    color:#3B82F6;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{

    padding:15px;

    margin-bottom:10px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;
}

.sidebar li:hover,
.sidebar .active{
    background:#1E293B;
}

/* Main */

.main-content{
    flex:1;

    padding:30px;
}

.top-bar{
    margin-bottom:30px;
}

.top-bar h1{
    color:#0F172A;
}

.cards{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:20px;

    margin-bottom:30px;
}

.card{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:
    0 4px 12px rgba(0,0,0,.08);
}

.card h3{
    margin-bottom:10px;
}

.card p{

    font-size:1.8rem;

    font-weight:bold;

    color:#2563EB;
}

.big-card{

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:
    0 4px 12px rgba(0,0,0,.08);
}